.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
}

.footer h3 {
    font-family: var(--roboto);
    font-size: 1.25rem;
}
.footer p {
    font-family: var(--open_sans);
    font-size: 0.75rem;
}